
<div class="row container">
	<div class="col-md-10 index-noticias">
		<hr>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<%= render partial: "elements/index_slider" %>
	    	</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<hr>
				<h5>Últimas Noticias</h5>
				<% if @noticias.any? %>
					<ul>
						<% @noticias.each do |noticia| %>
							<%
		            orig_text = noticia.conteudo
		            img_text  = orig_text[/<img[^>]+>/].to_s 
		            body_text = truncate(orig_text.gsub(/<[^>]+>/,''), :length=>100) 
					    %>
							<li>
						    <article class="just article">
						      <span class="small_date_box"><%= l noticia.publicado_em, format: "%d de %B, %Y"%></span>
						      <h4 class="post"><a href="/noticias/<%= noticia.to_url %>"> <%= noticia.titulo %></a><br/><small><p><%= noticia.introducao.html_safe %></p></small></h4>

						      <% if !noticia.introducao? %>
						      	<p><%= body_text.html_safe %></p>
						      <% end %>

						      <div class="pull-right read btn btn-primary btn-sm"><a href="/noticias/<%= noticia.to_url %>"> Leia Mais</a></div>
						    </article>
						    </li>
					    <% end %>
				    </ul>
			    <% end %> 
		  </div>
		</div>
	</div>
	<div class="col-md-2">
		<hr>
		<h5>TV Camara</h5>
	</div>
</div>

<div class="row container">
	<div class="col-md-10">
		<hr>
		<h5>Vereadores</h5>
		<div class="vereador_slider">
			<%= render partial: "elements/vereador_slide" %>
		</div>
	</div>
	<div class="col-md-2">
		<hr>
		<h5>Calendario</h5>
		<div id="calendar"></div>
	</div>
</div>
