<div>
	<div class="row container">
		<div class="col-md-9">
			<hr>
			<h5>Noticias</h5>
			<ul>
			<% @noticias.each do |noticia| %>
			<li>
		    <article class="just article">
		      <span class="small_date_box"><%= l noticia.publicado_em, format: "%B %d, %Y"%></span>
		      <h3 class="post"><a href="/noticias/<%= noticia.to_url %>"> <%= noticia.titulo %></a></h3>
		      <%= noticia.introducao.html_safe %>
		      <div class="right"><a href="/noticias/<%= noticia.to_url %>"> "Leia Mais"</a></div>
		    </article>
		    </li>
		    <% end %>
		    </ul>
		</div>
		<div class="col-md-3">
			<hr>
			<h5>Sidebar</h5>
		</div>
	</div>

	<div class="row container">
		<div class="col-md-9">
			<hr>
			<h5>Vereadores</h5>
		</div>
		<div class="col-md-3">
			<hr>
			<h5>Calendario</h5>
			<div id="calendar"></div>
		</div>
	</div>
</div>
