  <%- model_class = Legislacao -%>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:numero) %></th>
      <th><%= model_class.human_attribute_name(:ano) %></th>
      <th><%= model_class.human_attribute_name(:tipo) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @legislacoes.each do |legislacao| %> 
     <tr>
      <td><%= legislacao.numero %></td>
      <td><%= legislacao.ano %></td>
      <td><%= legislacao.tipo %></td>
      <td>
        <%= link_to legislacao_path(legislacao), :class => 'btn btn-xs', :title => "Visualizar" do %>
          <%= glyph 'info-sign' %>
          <%= glyph 'pencil' %>
        <%- end -%>
        <%= link_to legislacao_path(legislacao), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "Deletar" do %>
          <%= glyph 'remove' %>
        <%- end -%>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
