  <%- model_class = Transparencia -%>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:ano) %></th>
      <th><%= model_class.human_attribute_name(:mes) %></th>
      <th><%= model_class.human_attribute_name(:tipo) %></th>
      <th>Visualizar</th>
    </tr>
  </thead>
  <tbody>
    <% @transparencias.each do |transparencia| %> 
     <tr>
      <td><%= transparencia.ano %></td>
      <td><%= transparencia.mes %></td>
      <td><%= transparencia.tipo %></td>
      <td>
        <%= link_to transparencia.arquivo_url, :target => '_blank', :class => 'btn btn-xs btn-primary download-link', :title => "Visualizar" do %>
          <%= glyph 'download-alt' %>
        <%- end -%>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @transparencias, renderer: BootstrapPagination::Rails %>
