<header>
<div class="container">
	<div id= "header">
		<div id="top-bar">
			<div class="row">
				<div class="col-md-9">
					<p>Seja bem vindo caro visitante...</p>
				</div>
				<div class="col-md-3">
					<p><i class="fa fa-calendar"> <%= Date::DAYNAMES[Time.now.wday]%>, <%= Time.now.to_s(:header) %></i></p>
				</div>
			</div>
		</div>
		<div class = "row">
			<div id="header-slide">
				<div class = "col-md-10">
					<div id="logo">
						<a href='/'><%= image_tag 'logo.png' %></a>
					</div>
				</div>
				<div class = "col-md-2">
					<div id="social-link" class="center-block">
						<ul>
							<li><a target="_blank" href="https://www.facebook.com/pages/C%C3%A2mara-Municipal-de-Valen%C3%A7a-RJ/226089340818530?fref=ts"><%= image_tag 'facebook.png' %></a></li>
							<li><a target="_blank" href="#"><%= image_tag 'twitter.png' %></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<%= render partial: "elements/navigation" %>
</div>
</header>