<div class="row">
    <div class="col-md-12">
      <ul>
      	<% @vereadores.each do |vereadores| %>
	      	
		        <% if vereadores.cargo_mesa == 'Presidente' %>
		        	<li>
			        	<h4><%= vereadores.cargo_mesa %></h4>
			          <%= link_to image_tag(vereadores.avatar_url(:thumb), :class => 'img-thumbnail'), vereadores %>
			          <h5><%= vereadores.nome %></br><small><strong><%= vereadores.partido %></strong></small></h5>
		          </li>
		        <% end %>
	        
		        <% if vereadores.cargo_mesa == 'Vice-Presidente' %>
		        	<li>
			        	<h4><%= vereadores.cargo_mesa %></h4>
			          <%= link_to image_tag(vereadores.avatar_url(:thumb), :class => 'img-thumbnail'), vereadores %>
			          <h5><%= vereadores.nome %></br><small><strong><%= vereadores.partido %></strong></small></h5>
		          </li>
		        <% end %>

		        <% if vereadores.cargo_mesa == '1ยบ Secretario' %>
		        	<li>
			        	<h4><%= vereadores.cargo_mesa %></h4>
			          <%= link_to image_tag(vereadores.avatar_url(:thumb), :class => 'img-thumbnail'), vereadores %>
			          <h5><%= vereadores.nome %></br><small><strong><%= vereadores.partido %></strong></small></h5>
		          </li>
		        <% end %>

		        <% if vereadores.cargo_mesa == '2ยบ Secretario' %>
		        	<li>
			        	<h4><%= vereadores.cargo_mesa %></h4>
			          <%= link_to image_tag(vereadores.avatar_url(:thumb), :class => 'img-thumbnail'), vereadores %>
			          <h5><%= vereadores.nome %></br><small><strong><%= vereadores.partido %></strong></small></h5>
		          </li>
		        <% end %>
        <% end %>
      </ul>
    </div>
  </div> 
 </div>