<li><%= link_to "Notícias", noticias_path %></li>

<li><%= link_to "Institucional", :institucional_page %></li>

<li><%= link_to "Galeria", galeria_path %></li>

<li><%= link_to "Vereadores", vereadores_path %></li>

<li><%= link_to "Comissões", :comissoes_page %></li>

<li><%= link_to "Legislação", legislacoes_path %></li>

<li><%= link_to "Transparência", transparencias_path %></li>

<li><%= link_to "Fale Conosco", :fale_conosco_page %></li>

