<li><%= link_to "Notícias", :noticia_page %></li>

<li><%= link_to "Institucional", :institucional_page %></li>

<li><%= link_to "Galeria", :galeria_page %></li>

<li><%= link_to "Vereadores", vereadores_path %></li>

<li><%= link_to "Legislação", "#" %></li>

<li><%= link_to "Transparencia", "#" %></li>

<li><%= link_to "Contato", "#" %></li>

