<div class="conteiner">
  <div class="row">

    <%= form_tag({controller: 'legislacoes', action: 'search'}, method: :get, remote: true) do %>
      <div class="col-md-12">
        <h3>Pesquisa</br><small></small></h3>
        <div class="input-group col-md-7 center-block box-search">

          <div class="row">
            <div class="col-md-12">
              <div class="col-md-6">
                <label class="lei-label"for="ano">Número/Ano: </label>
                <div class="row">
                  <div class="col-md-4 lei-input">
                  <%= number_field_tag :numero ,params[:numero], :class => 'form-control input-sm',  placeholder: "Número" %>
                  </div>
                  <div class="col-md-4 lei-input">
                  <%= select_tag :ano, options_for_select(Legislacao.anos), :prompt => "Todos" , :class => 'form-control input-sm inline', :id => 'ano'%>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                  <label class="lei-label" for="classificacao">Classificação: </label>
                <div class="row">
                  <div class="col-md-12 lei-input">
                    <%= select_tag :classificacao, options_for_select(Legislacao.classificacoes), :prompt => "Todas" , :class => 'form-control input-sm', :id => 'classificacao'%>
                  </div>
                </div>
              </div> 
            </div>
          </div>



          <div class="row">
            <div class="col-md-12">
              <div class="col-md-6">
                <label class="lei-label" for="tipo">Tipo: </label>
                <div class="row">
                  <div class="col-md-4 lei-input">
                  <%= select_tag :tipo, options_for_select(Legislacao.tipos), :prompt => "Todos" , :class => 'form-control input-sm', :id => 'tipo'%>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                  <label class="lei-label" for="situacao">Situação: </label>
                <div class="row">
                  <div class="col-md-4 lei-input">
                    <%= select_tag :situacao, options_for_select(Legislacao.situacoes), :prompt => "Todas" , :class => 'form-control input-sm', :id => 'situacao'%>
                  </div>
                </div>
              </div>
                
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="col-md-6">
                <label class="lei-label" for="autoria">Autor: </label>
                <div class="row">
                  <div class="col-md-12 lei-input">
                  <%= text_field :autoria, params[:autoria], :class => 'form-control input-sm', :id => 'autoria'%><br />
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-12">
              <div class="col-md-6">
                <label class="lei-label" for="ementa">Ementa: </label>
                <div class="row">
                  <div class="col-md-12 lei-input">
                  <%= text_field :ementa, params[:ementa], :class => 'form-control input-sm', :id => 'ementa'%><br />
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <button class="btn btn-primary pull-right btn-md" type="submit" id="search_submit">
                  <i class="fa fa-search fa-lg"></i>
                </button> 
            </div>
            </div>
          </div>



          <div class="row">
            
          </div>


        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
      <div class="col-md-12 space-lg">
        <hr>
        <div id="legislacao_table"><%= render partial: 'elements/conteudo_legislacao'%></div>
      </div>
  </div>  
</div>
