<%= simple_form_for(@noticia) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :titulo %>
    <%= f.input :introducao %>

    <%= f.input :conteudo, as: :summernote%>

    <%= f.input :permalink %>
    <%= f.input :publicado %>
    <%= f.input :imagem %>
    <%= f.input :publicado_em %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
