<%= simple_form_for(@noticia) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :titulo %>
    <%= f.input :introducao %>

    <%= f.input :conteudo, :as => :ckeditor%>
    <%= f.input :permalink %>
    <%= f.input :publicado %>
    <%= f.hidden_field :publicado_em %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
