<h1>Listing noticias</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Introducao</th>
      <th>Conteudo</th>
      <th>Permalink</th>
      <th>Publicado</th>
      <th>Imagem</th>
      <th>Publicado em</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @noticias.each do |noticia| %>
      <tr>
        <td><%= noticia.titulo %></td>
        <td><%= noticia.introducao %></td>
        <td><%= noticia.conteudo %></td>
        <td><%= noticia.permalink %></td>
        <td><%= noticia.publicado %></td>
        <td><%= noticia.imagem %></td>
        <td><%= noticia.publicado_em %></td>
        <td><%= link_to 'Show', noticia %></td>
        <td><%= link_to 'Edit', edit_noticia_path(noticia) %></td>
        <td><%= link_to 'Destroy', noticia, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Noticia', new_noticia_path %>
