<section class="row container">
  <div class="col-md-9">
    <div class="noticia-main">
      <% if @noticias.any? %>
        <% @noticias.each do |noticia| %>
          <%
            orig_text = noticia.conteudo
            img_text  = orig_text[/<img[^>]+>/].to_s 
            body_text = truncate(orig_text.gsub(/<[^>]+>/,''), :length=>300) 
          %>
          <div>
            <article class="just article">
              <span class="small_date_box"><%= l noticia.publicado_em, format: "%d/%b"%></span>
              <h3 class="post"><a href="/noticias/<%= noticia.to_url %>"> <%= noticia.titulo %></a><br/><small><p><%= noticia.introducao.html_safe %></p></small></h3>

              <p><%= body_text.html_safe %></p>

              <div class="pull-right read btn btn-primary btn-sm"><a href="/noticias/<%= noticia.to_url %>"> Leia Mais</a></div>
            </article>
          </div>
        <% end %>
      <% end %>
    </div>
<%= will_paginate @noticias, renderer: BootstrapPagination::Rails %>
  </div>
  <div class="col-md-3">
    <%= render partial: "elements/sidebar_menu" %>
  </div>
</section>
