<div class="container">
<section class="row">
  <article class="just article">
    <p class="center"><%= l @noticia.created_at, format: "%A , %d de %B, %Y" %></p>

    <h2 class="post"><%= @noticia.titulo %></h2>
    <div class="inside_margeagle_tb addthis_native_toolbox"></div>
    <div>
      <% if @noticia.imagem.present? %>
      <picture class="outside_margeagle_tb block">
        <%= image_tag @noticia.imagem.url %>
      </picture>
      <% end %> 
         
      <%= @noticia.introducao.html_safe %>
      <%= raw @noticia.conteudo.html_safe %>
    </div>
  </article>
</section>
</div>
