<section class="row container">
	<div class="col-md-9">
		<div class="noticia-main">
		  <article>
		    <p class="small_date_box"><%= l @noticia.created_at, format: "%A , %d de %B, %Y" %></p>
		    <h2 class="post"><%= @noticia.titulo %><br/><small><%= @noticia.introducao.html_safe %></small></h2>
		    <br/>
		    <div> <%= @noticia.conteudo.html_safe %></div>
		    
		  </article>
	  </div>
  </div>
  <div class="col-md-3">
  	<%= render partial: "elements/sidebar_menu" %>
  </div>
</section>
