<%= form_for(post, html: {class: "new_blog_post", id: "new_blog_post"}) do |f| %>

  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%=t :prohibited_this_post_from_being_saved, scope: 'blogit.posts', count: post.errors.count%></h2>

      <ul>
        <% post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <%= field do %>
      <%= f.text_field :title, placeholder: "Título" %>
    <% end %>

    <%= field do %>
      <%= f.text_area :body, placeholder: "Conteúdo" %>
    <% end %>

  </fieldset>

  <fieldset>

    <%= field id: "new_blog_post_state_field" do %>
      <%= f.label :state, "Estado" %>
      <%= f.collection_select(:state, Blogit::Post::AVAILABLE_STATUS, :to_s, :to_s) %>
    <% end %>

  </fieldset>

  <%= actions do %>
    <%= f.submit %> <%=t :or, scope: 'blogit.posts'%>
    <%= link_to("Cancelar", post.new_record? ? blog_root_path : post_path(post)) %>
  <% end %>

<% end %>
