

  <%# Render the header for this blog post %>

  <%# Render info about the person who wrote this post %>
  

  <%# Render the body of this blog post (as Markdown) %>
  

  <%# Render admin links to edit/delete this post %>


<div class="post-page">
<%= content_tag(:article, id: "blog_post_#{post.id}", class: "blog_post") do %>
    <div class="panel panel-default">
        <div class="panel-heading-gray">
            <%= render "blogit/posts/post_head", post: post %>
            <%= render "blogit/posts/blogger_information", post: post %>
            <%= render "blogit/posts/post_links", post: post %>
        </div>
        <div class="panel-body"><%= render "blogit/posts/post_body", post: post %>
        </div>
           <div class="panel-footer">
             <%= render "blogit/posts/blogger_information", post: post %>
        </div>
    </div>
  <hr class="blog_post_spacer">



  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="exampleModalLabel">Editar</h4>
    </div>
    <div class="modal-body">
     <form>
        <div class="form-group">
           <label for="message-text" class="control-label">Mensagem:</label>
          <%= render 'form', post: post%>
        </div>
  </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

</div>
<% end %>
