<p id="notice"><%= notice %></p>

<div class="row container">
  <div class="col-md-3">
    <div class="well vereador-sidebar">
      <div><%= image_tag @vereador.avatar_url(:thumb), :class => 'img-thumbnail' %></div>

      <% if !@vereador.nome.blank? %>
        <div><h5><%= @vereador.nome%></br><small><strong><%= @vereador.partido %></strong></small></h5></div>
      <% end %>

    
      </br>
      <h6>FALE COM SEU VEREADOR</h6>

      <% if !@vereador.telefone.blank? %>
        <div><i class="fa fa-phone"></i> <%= @vereador.telefone %></div>
      <% end %>

      <% if !@vereador.email.blank? %>
        <div><i class="fa fa-at"></i> <%= @vereador.email.downcase %></div>
      <% end %>

      <% if !@vereador.site.blank? %>
        <div><i class="fa fa-home"></i> <%= @vereador.site.downcase %></div>
      <% end %>

      <% if @vereador.mesa_diretora? %>
        <div><i class="fa fa-user"></i> <%= @vereador.cargo_mesa %></div>
      <% end %>
      </br>

      <% if !@vereador.facebook.blank? %>
        <a href="<%= @vereador.facebook %>" target='_blank' class='social-link text-center'><%= image_tag 'facebook.png' %></a>
      <% end %>

      <% if !@vereador.twitter.blank? %>
        <a href="<%= @vereador.twitter %>" target='_blank' class='social-link text-center'><%= image_tag 'twitter.png' %></a>
      <% end %>
    </div>

  </div>
  <div class="col-md-9">
    <% if !@vereador.descricao.blank? %>
      <h2>Descrição</h2>
      <div><p><%=@vereador.descricao %></p></div>
    <% end %>
  </div>
</div>

