<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-3">
    <div class="well vereador-sidebar">
      <div><%= image_tag @vereador.avatar_url(:thumb) %></div>

      <% if !@vereador.nome.blank? %>
        <div><strong>Nome:</strong> <%= @vereador.nome%></div>
      <% end %>

      <% if !@vereador.partido.blank? %>
        <div><strong>Partido:</strong> <%= @vereador.partido %></div>
      <% end %>

      <h6>FALE COM SEU VEREADOR</h6>

      <% if !@vereador.telefone.blank? %>
        <div><strong>Telefone:</strong> <%= @vereador.telefone %></div>
      <% end %>

      <% if !@vereador.email.blank? %>
        <div><strong>E-mail:</strong> <%= @vereador.email %></div>
      <% end %>

      <% if !@vereador.site.blank? %>
        <div><strong>Site:</strong><%= @vereador.site %></div>
      <% end %>

      <% if @vereador.mesa_diretora? %>
        <div><strong>Cargo:</strong><%= @vereador.cargo_mesa %></div>
      <% end %>

      <% if !@vereador.facebook.blank? %>
        <a href="<%= @vereador.facebook %>" target='_blank'><%= image_tag 'facebook.png' , {height: 45}%></a>
      <% end %>

      <% if !@vereador.twitter.blank? %>
        <a href="<%= @vereador.twitter %>" target='_blank'><%= image_tag 'twitter.png' , {height: 45}%></a>
      <% end %>
    </div>

  </div>
  <div class="col-md-9">
    <% if !@vereador.descricao.blank? %>
      <h2>Descrição</h2>
      <div><p><%=@vereador.descricao %></p></div>
    <% end %>
  </div>
</div>

