<!DOCTYPE html>
<html>
<head>
  <title><%= @title || "Camara" %></title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "fullcalendar.css" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width, initial-scale=1"/><!-- Prelang: Analytics / Google Analytics -->
    <%= analytics_init if Rails.env.production? or Rails.env.development? %></head>
<body>
<div id="wrap">
      <%= render partial: "elements/header" %>

    <div class="container">
      <div class="white-background">

      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <%= render partial: "elements/messages" %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12" id="Content">
          <%= yield %>
        </div>
      </div>

      </div>

      <%= render partial: "elements/footer" %>

    </div>

  </div>


<%= bootstrap_flash %>

<script src="https://maps.googleapis.com/maps/api/js"></script>
</body>
</html>
